.header {
  display: flex;
  width: 100%;
  padding: 5px 37px;
  position: relative;
  background-color: #4c5bd4;
  justify-content: space-between;
  align-items: center;
}
.navbars_items {
  display: flex;
}
.header_back {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 33px;
  color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 0 5px;
}
.header_back:hover {
  text-decoration: underline;
}
.list_menu {
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  column-gap: 20px;
  align-items: center;
  margin: 5px;
  color: white;
}
.navbars_list {
  display: none;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.header .a {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 33px;
  color: #fff;
}
.a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.box_avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 20px;
}
.sub_avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}
.box_dn_dky {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #232f87;
  border-radius: 10px;
  width: 176px;
  height: 39px;
  margin-left: 20px;
}
.navBar_second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .header_back {
    display: hidden;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .list_menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .header_back {
    display: hidden;
  }
}
@media screen and (min-width: 1024px) {
  .header_back {
    display: flex;
  }
  .navbars_list {
    display: flex;
  }
  .list_menu {
    display: hidden;
  }
}
