.tb_head {
  background: #4c5bd4;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.job2_right_img_box {
  display: flex;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.avatar_ntd {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  /* border-radius: 50%; */
  object-fit: cover;
}

.avatar_ntd2 {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  /* border-radius: 50%; */
  object-fit: cover;
}

.about_job2_left {
  display: flex;
  width: 50%;
}
.about_job2_right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
}
.tb_body td,
.tb_head th {
  padding: 20px;
  text-align: center;
}
.delete_small {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: unset;
  padding: 0;
  width: 25px;
  height: 25px;
  background: #ea4860;
  border-radius: 20px;
}
.day_active {
  background: #307df14f !important;
  color: #307df1 !important;
}
.frame_ca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.frame_ca span {
  background: #47474717;
  padding: 4px;
  border-radius: 50%;
  color: #474747;
  font-size: 14px;
  margin: 5px;
}
.btn_delete {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  margin: 20px 0;
  background: #dbdbdb;
  border-radius: 20px;
  min-width: 73px;
  color: #474747;
  font-weight: 600;
  cursor: pointer;
}
.about_job {
  width: 100%;
  padding: 10px;
  display: flex;
  border: 1px solid rgb(214, 214, 214);
}

.about_job2 {
  width: 100%;
  padding: 10px;
  display: flex;
}
.job_detail {
  width: 70%;
}
.job_detail2 {
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  display: flex;
}
.city_name {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.city_address {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.city_address2 {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.td {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #307df1;
  margin-top: 0;
  max-width: 86%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 670px) {
}

@media screen and (min-width: 670px) and (max-width: 767px) {
  .tb_head,
  .hidden_job,
  .tb_body {
    display: none;
  }
  .show_job {
    display: inline-flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .tb_head,
  .hidden_job,
  .tb_body {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .delete_small {
    display: none;
  }
}
